## ISS Web API

El siguiente ejemplo muestra de manera sencilla cómo manejar una API Web mediante la librería HTTP <b>"Requests"</b> para Python.<br>
Las herramientas básicas que se van a usar serán:<br>
<li>GET: para hacer peticiones a urls. 
<li>Objetos json: elementos que recibiremos como respuesta a nuestra petición.

En este ejemplo, se almacenará en un DataFrame la posición de la <b>Estación Espacial Internacional (ISS)</b>, así como la fecha y hora de la solicitud. <br>
A continuación, se representará sobre un gráfico la posición actual de la estación.<br><br>
La documentación se encuentra en el siguiente enlace:<br>
http://open-notify.org/Open-Notify-API/ISS-Location-Now/

Primeramente, se importan las librería necesarias:

In [52]:
import pandas as pd
import requests
import json
from datetime import datetime as dt

A continuación, se realizará la petición GET, y se comprobará que se ha llevado a cabo de manera satisfactoria.

In [53]:
r = requests.get('http://api.open-notify.org/iss-now.json')

Para comprobar que la petición GET se ha llevado a cabo de manera satisfactoria, se comprueba el status_code:

In [54]:
r.status_code

200

El contenido de la cadena en formato json que devuelve la petición, tiene la siguiente forma:

In [55]:
r.content

b'{"iss_position": {"longitude": "-99.1592", "latitude": "5.4325"}, "timestamp": 1517516377, "message": "success"}'

De manera sencilla, se puede convertir esta cadena en un objeto Python con utilizando la librería json.

In [56]:
position = json.loads(r.content)
print(position)

{'iss_position': {'longitude': '-99.1592', 'latitude': '5.4325'}, 'timestamp': 1517516377, 'message': 'success'}

A continuación, se va a crear un DataFrame en el que se va a almacenar la información de la cadena.

In [57]:
df_iss = pd.DataFrame(position)

In [58]:
df_iss

          iss_position  message   timestamp
latitude        5.4325  success  1517516377
longitude     -99.1592  success  1517516377

El formato de fecha no es representable a priori, se debe comprobar el tipo de objeto de cada una de las series que forman el Dataframe:

In [59]:
print(df_iss.dtypes)

iss_position    object
message         object
timestamp        int64
dtype: object

Puesto que se trata de un objeto de tipo entero, se debe convertir dicha serie a un objeto de tipo datetime.

In [60]:
#df_iss['timestamp'] = pd.to_datetime(df_iss['timestamp'], format = '')

df_iss['timestamp'] = pd.to_datetime(df_iss['timestamp'], unit = 's')

Finalmente, el DataFrame resultante es el siguiente:

In [61]:
df_iss

          iss_position  message           timestamp
latitude        5.4325  success 2018-02-01 20:19:37
longitude     -99.1592  success 2018-02-01 20:19:37